name: CI-CD-Pipeline-to-AWS
env:
  EB_PACKAGE_S3_BUCKET_NAME: "s3-flask-bucket-ihor-owns-it" 
  EB_APPLICATION_NAME: "flask-app"
  EB_ENVIRONMENT_NAME: "Flask-app-env"
  DEPLOY_PACKAGE_NAME: "flask_app${{ github.sha }}.zip"
  AWS_REGION_NAME: "eu-north-1"


on: [push]

jobs:
  sast_scan:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit scan
      run: bandit -ll -ii -r . -f json -o bandit-report.json
      continue-on-error: true

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      if: always()
      with: 
        name: bandit-findings
        path: bandit-report.json

  ci_part:
    runs-on: ubuntu-latest
    needs: [sast_scan]

    steps:
    - name: Git clone our repo
      uses: actions/checkout@v1

    - name: Create ZIP deployment package
      run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*

    - name: Configure my AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with: 
          aws-access-key-id: ${{secrets.MY_AWS_ACCESS_KEY}}
          aws-secret-access-key: ${{secrets.MY_AWS_SECRET_KEY}}
          aws-region: ${{env.AWS_REGION_NAME}}

    - name: Copy deployment package to aws
      run: aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{env.EB_PACKAGE_S3_BUCKET_NAME}}/

    - name: Print happy message for CI completion
      run: echo "CI pipeline part finished successfully!"


  cd_part:
    runs-on: ubuntu-latest
    needs: [ci_part]

    steps:
    - name: Configure my AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with: 
          aws-access-key-id: ${{secrets.MY_AWS_ACCESS_KEY}}
          aws-secret-access-key: ${{secrets.MY_AWS_SECRET_KEY}}
          aws-region: ${{env.AWS_REGION_NAME}}
          
    - name: Create new EB Application
      run : |
        aws elasticbeanstalk create-application-version \
        --application-name ${{ env.EB_APPLICATION_NAME }} \
        --source-bundle S3Bucket="${{ env.EB_PACKAGE_S3_BUCKET_NAME }}",S3Key="${{ env.DEPLOY_PACKAGE_NAME }}" \
        --version-label "Ver-${{ github.sha }}" \
        --description "CoimmitSHA-${{ github.sha }}"

    - name: Deploy new EB Application Version
      run: aws elasticbeanstalk update-environment --environment-name ${{env.EB_ENVIRONMENT_NAME}} --version-label "Ver-${{ github.sha }}" 

    - name: Print happy message for CD completion
      run: echo "CD pipeline part finished successfully!"
